/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
main {
  background: rgb(223, 223, 223);
  display: flex;
  justify-content: center;
  padding-top: 100px;
  height: 100vh;
}

#sign-up-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  padding: 50px;
  padding-top: 25px;
  height: 350px;
  border-radius: 10px;
  padding-bottom: 30px;
}
p {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(182, 182, 182);
}

input {
  max-width: 90%;
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
  padding-left: 10px;
  border: 0px;
  font-size: 14px;
  background: rgb(237, 237, 237);
}

.submit {
  border: none;
  align-self: center;
  width: 75%;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  background: rgb(46, 46, 124);
  cursor: pointer;
}
.submit:hover {
  transition: 35ms;
  color: black;
  background: rgb(215, 215, 215);
}
h1 {
  text-align: center;
  padding-bottom: 10px;
}
form {
  padding-bottom: 24px;
  padding-top: 10px;
}
